<div class="container pad-top">
  <table class="table simpletable" ng-init="getUsuarios()">
      <div>
          <h1 class="table-title">Todos os Usuários do Sistema</h1>
      </div>
      <thead>
        <tr>
          <th>Login</th>
          <th>Tipo</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="usuario in usuarios">
            <td style="width: 10%; word-wrap:break-word;">{{usuario.login}}</td>
            <td style="width: 10%; word-wrap:break-word;">{{usuario.tipo}}</td>
            <td style="width: 30%">
                <a class="btn btn-primary" ui-sref="viewUsuario({id:usuario.id})">View</a>
                <a class="btn btn-primary" ui-sref="editUsuario({id:usuario.id})">Edit</a>
                <a class="btn btn-danger"  ng-click="deleteUsuario(usuario)">Delete</a>
            </td>
        </tr>
      </tbody>
  </table>
  <div class="bottomButton">
    <a ui-sref="newUsuario" class="btn-primary btn-lg nodecoration" >Criar novo Usuario</a>
  <div>
</div>
