<div class="container pad-top">
  <table class="table simpletable" ng-init="getReunioes()">
  <div>
      <h1 class="table-title">Todas as Reunioes</h1>
  </div>
    <thead>
      <tr>
        <th>Data</th>
        <th>Hora</th>
        <th>Titulo</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="reuniao in reunioes">
          <td style="width: 10%; word-wrap:break-word;">{{reuniao.data}}</td>
          <td style="width: 10%; word-wrap:break-word;">{{reuniao.hora}}</td>
          <td style="width: 30%; word-wrap:break-word;">{{reuniao.titulo}}</td>
          <td style="width: 50%;">
              <a class="btn btn-primary" ui-sref="editReuniao({id:reuniao.id})">Editar Reunião</a>
              <a class="btn btn-primary" ui-sref="editPauta({id:reuniao.id})">Editar Pauta</a>
              <a class="btn btn-primary" ui-sref="editListaReuniaoParticipantes({id:reuniao.id})">Editar Participantes</a>
              <a class="btn btn-primary" ui-sref="editReuniaoPDF({id:reuniao.id})">Gerar PDF</a>
              <!-- <a class="btn btn-primary" ng-click="gerarPDF(reuniao)">Gerar PDF</a> -->
              <a class="btn btn-danger"  ng-click="deleteReuniao(reuniao)">Delete</a>
          </td>
      </tr>
    </tbody>
  </table>
  <div class="bottomButton">
    <a ui-sref="newReuniao" class="btn-primary btn-lg nodecoration" >Criar nova Reuniao</a>
  <div>
</div>
