<div>
  <div class="container pad-top" ng-init="getReuniao()">
    <form class="form-horizontal" role="form" ng-submit="editReuniao()">
      <h1>Reuniao</h1>

      <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Titulo</label>
          <div class="col-sm-10">
              <input type="text" ng-model="reuniao.titulo" class="form-control" id="titulo" placeholder="Titulo da Reuniao"/>
          </div>
      </div>
      <div class="form-group">
          <label for="description" class="col-sm-2 control-label">Data</label>
          <div class="col-sm-10">
              <input type="text" ng-model="reuniao.data" class="form-control" id="data" placeholder="Data da Reuniao"/>
          </div>
      </div>
      <div class="form-group">
          <label for="description" class="col-sm-2 control-label">Hora</label>
          <div class="col-sm-10">
              <input type="text" ng-model="reuniao.hora" class="form-control" id="data" placeholder="Horario da Reuniao"/>
          </div>
      </div>
      <div class="form-group">
          <label for="description" class="col-sm-2 control-label">Local</label>
          <div class="col-sm-10">
              <input type="text" ng-model="reuniao.local" class="form-control" id="local" placeholder="Numero da sala"/>
          </div>
      </div>

      <div ta-bind text-angular ng-model="reuniao.vizualizar"></div>


      <div>
          <a class="btn btn-primary" ng-click="previewReuniao()">Vizualizar</a>
          <input type="submit" class="btn btn-primary" value="Save"/>
      </div>
    </form>
  </div>
</div>
