<div>
  <div class="container pad-top">
    <form class="form-horizontal" role="form" ng-submit="addReuniao()">
      <h1>Reuniao</h1>

      <div class="form-group">
          <label for="description" class="col-sm-2 control-label">Local</label>
          <div class="col-sm-10">
              <input type="text" ng-model="reuniao.local" class="form-control" id="local" placeholder="Numero da sala"/>
          </div>
      </div>


<div class="container pad-top">
  <table class="table simpletable" ng-init="getItens()">
      <div>
          <h1 class="table-title">Todos os Itens</h1>
      </div>
      <thead>
        <tr>
          <th>Titulo</th>
          <th>Categoria</th>
          <th>Descição</th>
          <th>Situação</th>
          <th>Arquivos</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in itens">
            <td style="width: 15%; word-wrap:break-word;">{{item.titulo}}</td>
            <td style="width: 15%; word-wrap:break-word;">{{item.categoria}}</td>
            <td style="width: 40%; word-wrap:break-word;">{{item.descricao}}</td>
            <td style="width: 10%; word-wrap:break-word;">{{item.situacao}}</td>
            <td style="width: 18%; word-wrap:break-word;">{{item.arquivos}}</td>
        </tr>
      </tbody>
  </table>
</div>


      <div ta-bind text-angular ng-model="reuniao.vizualizar"></div>


      <div>
          <a class="btn btn-primary" ng-click="previewReuniao()">Vizualizar</a>
          <input type="submit" class="btn btn-primary" value="Save"/>
      </div>
    </form>
  </div>
</div>
