<div class="container pad-top">
  <form class="form-horizontal" role="form" ng-submit="addItem(item)">
    <div class="form-group">
        <label for="titulo" class="col-sm-2 control-label">Titulo</label>
        <div class="col-sm-10">
            <input type="text" ng-model="item.titulo" class="form-control" id="titulo" placeholder="Titulo do Item"/>
        </div>
    </div>
    <div class="form-group">
        <label for="descricao" class="col-sm-2 control-label">Descrição</label>
        <div class="col-sm-10">
            <input type="text" ng-model="item.descricao" class="form-control" id="descricao" placeholder="Descrição do Iten"/>
        </div>
    </div>
    <div class="form-group">
        <label for="situacao" class="col-sm-2 control-label">Situação</label>
        <div class="col-sm-10">
            <input type="text" ng-model="item.situacao" class="form-control" id="situacao" placeholder="Situação do Item"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-primary" value="Save"/>
        </div>
    </div>
  </form>
</div>
