<div class="container pad-top">
  <table class="table simpletable" ng-init="getItens()">
      <div>
          <h1 class="table-title">Todos os Itens</h1>
      </div>
      <thead>
        <tr>
          <th>Titulo</th>
          <th>Categoria</th>
          <th>Descição</th>
          <th>Situação</th>
          <th>Arquivos</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in itens">
            <td style="width: 15%; word-wrap:break-word;">{{item.titulo}}</td>
            <td style="width: 15%; word-wrap:break-word;">{{item.categoria.titulo}}</td>
            <td style="width: 40%; word-wrap:break-word;">{{item.descricao}}</td>
            <td style="width: 10%; word-wrap:break-word;">{{item.situacao}}</td>
            <td style="width: 18%; word-wrap:break-word;">{{item.arquivos}}</td>
        </tr>
      </tbody>
  </table>
</div>
