<div class="container pad-top">
  <table class="table simpletable" ng-init="getAtas()">
  <div>
      <h1 class="table-title">Todas as Atas</h1>
  </div>
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Descição</th>
        <th>Data</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="ata in atas">
          <td style="width: 25%; word-wrap:break-word;">{{ata.titulo}}</td>
          <td style="width: 35%; word-wrap:break-word;">{{ata.descricao}}</td>
          <td style="width: 10%; word-wrap:break-word;">{{ata.data}}</td>
          <td style="width: 30%;">
              <a class="btn btn-primary" ui-sref="viewAta({id:ata.id})">View</a>
              <a class="btn btn-primary" ui-sref="editAta({id:ata.id})">Edit</a>
              <a class="btn btn-primary" ng-click="gerarPDF(ata)">Gerar PDF</a>
              <a class="btn btn-danger"  ng-click="deleteAta(ata)">Delete</a>
          </td>
      </tr>
    </tbody>
  </table>
  <div class="bottomButton">
    <a ui-sref="newAta" class="btn-primary btn-lg nodecoration" >Criar nova Ata</a>
  <div>
</div>
