<div class="container pad-top">
  <form class="form-horizontal" role="form" ng-submit="addParticipante(participante)">
    <div class="form-group">
        <label for="Nome" class="col-sm-2 control-label">Nome</label>
        <div class="col-sm-10">
            <input type="text" ng-model="participante.nome" class="form-control" id="nome" placeholder="Nome do Participante"/>
        </div>
    </div>
    <div class="form-group">
        <label for="sobrenome" class="col-sm-2 control-label">Sobrenome</label>
        <div class="col-sm-10">
            <input type="text" ng-model="participante.sobrenome" class="form-control" id="sobrenome" placeholder="Sobrenome do Participante"/>
        </div>
    </div>
    <div class="form-group">
        <label for="e_mail" class="col-sm-2 control-label">E-Mail</label>
        <div class="col-sm-10">
            <input type="text" ng-model="participante.e_mail" class="form-control" id="e_mail" placeholder="E-Mail do Participante"/>
        </div>
    </div>
    <div class="form-group">
        <label for="titular" class="col-sm-2 control-label">Titular</label>
        <div class="col-sm-10">
            <input type="text" ng-model="participante.titular" class="form-control" id="titular" placeholder="Titular do Participante"/>
        </div>
    </div>
    <div class="form-group">
        <label for="matricula" class="col-sm-2 control-label">Matricula</label>
        <div class="col-sm-10">
            <input type="text" ng-model="participante.matricula" class="form-control" id="matricula" placeholder="Matricula do Participante"/>
        </div>
    </div>
    <div class="form-group">
        <label for="tipo" class="col-sm-2 control-label">Tipo</label>
        <div class="col-sm-10">
            <select ng-model="participante.tipo" ng-options="tipo as tipo.nome for tipo in tipos track by tipo.id" class="form-control"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-primary" value="Save"/>
        </div>
    </div>
  </form>
</div>
