<div class="container pad-top">
  <table class="table simpletable" ng-init="getParticipantes()">
      <div>
          <h1 class="table-title">Todos os Participantes</h1>
      </div>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Matricula</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="participante in participantes">
            <td style="width: 40%; word-wrap:break-word;">{{participante.nome}}</td>
            <td style="width: 40%; word-wrap:break-word;">{{participante.matricula}}</td>
            <td style="width: 20%">
                <a class="btn btn-primary" ui-sref="viewParticipante({id:participante.id})">View</a>
                <a class="btn btn-primary" ui-sref="editParticipante({id:participante.id})">Edit</a>
                <a class="btn btn-danger"  ng-click="deleteParticipante(participante)">Delete</a>
            </td>
        </tr>
      </tbody>
  </table>
  <div class="bottomButton">
    <a ui-sref="newParticipante" class="btn-primary btn-lg nodecoration" >Criar novo Participante</a>
  <div>
</div>
