<div class="container pad-top">
  <div ng-init="getPauta()">
    <table class="table simpletable">
        <tr>
            <td><h3>Details for {{pauta.titulo}}</h3></td>
            <td></td>
        </tr>
        <tr>
            <td>Titulo</td>
            <td>{{pauta.titulo}}</td>
        </tr>
        <tr>
            <td>Descrição</td>
            <td>{{pauta.descricao}}</td>
        </tr>
        <tr>
            <td>Arquivo</td>
        </tr>
        <tr>
            <td ta-bind text-angular ng-model="pauta.arquivo"></td>
        </tr>
    </table>
  </div>
  <div>
      <a class="btn btn-primary" ui-sref="editPauta({id:pauta.id})">Edit</a>
  </div>
</div>
