<div ng-init="getReuniao()">
    <div class="container pad-top" ng-init="getItens()">
        <form class="form-horizontal">
            <h1>Itens da pauta</h1>

            <table class="table simpletable">
                <thead>
                  <tr>
                    <th>Titulo</th>
                    <th>Ordem</th>
                    <th>Categoria</th>
                    <th>Descição</th>
                    <th>Situação</th>
                    <th>Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in itens">
                      <td style="width: 10%; word-wrap:break-word;">{{item.titulo}}</td>
                      <td style="width: 5%; word-wrap:break-word;">{{item.ordem}}</td>
                      <td style="width: 15%; word-wrap:break-word;">{{item.categoria.titulo}}</td>
                      <td style="width: 40%; word-wrap:break-word;">{{item.descricao}}</td>
                      <td style="width: 10%; word-wrap:break-word;">{{item.situacao}}</td>
                      <td>
                          <a class="btn btn-primary" ui-sref="viewItem({id:item.id})">View</a>
                          <a class="btn btn-primary" ui-sref="editItem({id:item.id})">Edit</a>
                          <a class="btn btn-danger"  ng-click="deleteItem(item)">Delete</a>
                      </td>
                  </tr>
                </tbody>
            </table>
            <div>
                  <a class="btn btn-primary" ui-sref="newItem({id:reuniao.id})">Adicionar</a>
            <div>
            <div>
                  <a class="btn btn-danger" ng-click="back()">Back</a>
            </div>
        </form>
    </div>
</div>
