<div class="container pad-top">
  <table class="table simpletable" ng-init="getPautas()">
  <div>
      <h1 class="table-title">Todas as Pautas</h1>
  </div>
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Descição</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="pauta in pautas">
          <td style="max-width:100px; word-wrap:break-word;">{{pauta.titulo}}</td>
          <td style="max-width:100px; word-wrap:break-word;">{{pauta.descricao}}</td>
          <td>
              <a class="btn btn-primary" ui-sref="viewPauta({id:pauta.id})">View</a>
              <a class="btn btn-primary" ui-sref="editPauta({id:pauta.id})">Edit</a>
              <a class="btn btn-danger"  ng-click="deletePauta(pauta)">Delete</a>
          </td>
      </tr>
    </tbody>
  </table>
  <div class="bottomButton">
    <a ui-sref="newPauta" class="btn-primary btn-lg nodecoration" >Criar nova Pauta</a>
  <div>
</div>
<div class="container pad-top">
	<h1>Em Construção</h1>
</div>
